@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

:root{
    --cor-fundo: white;
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

*{
    font-family: Cabin;
}

header{
    /* Cima, direita, baixo, esquerda */
    margin: 0 3rem 0 1rem;
    display: flex;
    justify-content: center;
    padding: 2rem;

    & .nav-bar{ 
      display:flex;
      gap: 2rem;

    & .logo{           
      height: 35px; width: auto;margin-right: 10rem;margin-top: -0.1rem;
    }

    & ul{
        height: 2.7rem;
        margin-top: -0.3rem;
        padding: 1rem;
        border: 1px solid rgb(222, 222, 222);
        border-radius: 5rem;
        gap: 0.5rem;
        display: flex;
        box-shadow: 0 6px 1px rgba(0, 0, 0, 0.043);;
    
    & li{
        margin-left: 0.3rem;
        margin-top: -1.2rem;
        list-style: none;
        font-size: 1.05rem;
    }    

    & li:not(:last-of-type)::after{
        content: "|";
        color:rgb(231, 230, 230);
        font-size: 1.6rem;
        margin-left: 1.5rem;
    }

    & .li-especial{
        margin-top: -0.6rem;
        color: rgb(168, 168, 168);
    }
    
    & .lupa{
        transform: scaleX(-1);
        border-radius: 3rem;
        margin-top: -0.6rem;
        width: 1.5rem;
        height: 1.5rem;
    }

    }
    & .espaco{
        margin-top: 0.2rem;
        font-size: 1.05rem;
    }

    &{
      .icones{
        margin-top: 0.3rem;
        display: flex;
        gap: 1rem;
        flex-direction: row;
        width: 1.2rem;
        height: 1.2rem;

        & .icone-internet{
          margin-right: 3rem;
        }

        & .menu-user{
        display: flex;
        gap: 1rem;
        width: auto;
        height: auto;
          border: 1px solid black;
        }
      }
    }
  }
}

main{
  & h1{
    white-space: nowrap;
}

.fotos{
  & .fotos img{

}

  & .fotos .foto-principal{     

}
}
}




