@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

:root{
  --cor-borda-header: rgb(231, 231, 231);
  --cor-borda-ul: rgb(222, 222, 222);
  --cor-borda-preco: rgb(196, 196, 196);
}

/* CSS RESET: */


/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* FIM DO RESET CSS */


*{
    font-family: Cabin;
}

header{
    /* Cima, direita, baixo, esquerda */
    margin: 0 10rem 0 1rem;
    display: flex;
    justify-content: center;
    padding: 2rem;
    border: 1px solid --cor-borda-header;

    & .nav-bar{ 
      display:flex;
      gap: 2rem;
      
    & .logo{           
      height: 33px; width: auto;margin-right: 9rem;
    }

    & ul{
      cursor: pointer;
        height: 2.7rem;
        margin-top: -0.3rem;
        padding: 1rem;
        border: 1px solid --cor-borda-ul;
        border-radius: 5rem;
        gap: 0.5rem;
        display: flex;
        box-shadow: 0 6px 1px --cor-shadow;
    
    & li{
        margin-left: 0.3rem;
        margin-top: -1.2rem;
        list-style: none;
        font-size: 1.05rem;
    }    

    & li:not(:last-of-type)::after{ /* seleciona todas as li (menos a ultima) e insere uma barra vertical (after) do conteudo */
        content: "|";
        color:rgb(231, 230, 230);
        font-size: 1.6rem;
        margin-left: 1.5rem;
    }

    & .li-especial{
        margin-top: -0.6rem;
        color: rgb(168, 168, 168);
    }
    
    & .lupa{
        transform: scaleX(-1); /* imvertendo o icone da lupa pra ficar igual o do site oficial */
        border-radius: 3rem;
        margin-top: -0.6rem;
        width: 1.5rem;
        height: 1.5rem;
    }

    }
    & .espaco{
        margin-top: 0.2rem;
        font-size: 1.05rem;
    }

    &{
      .icones{
        margin-top: 0.3rem;
        display: flex;
        gap: 1rem;
        flex-direction: row;
        width: 1.2rem;
        height: 1.2rem;

        & .icone-internet{
          margin-right: 4.5rem;
        }

        & .menu-user{
        display: flex;
        gap: 1rem;
        width: auto;
        height: auto;
          border: 1px solid black;
        }
      }
    }
  }
}

main{
   margin-top: 1rem;

  & h1{
    font-size: 1.7rem;
    font-weight: 600;
    display: flex;
    margin: 0 0 1.5rem 23rem;
  }

  & .galeria{
    margin: 0 23rem 0 23rem;
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr; /* cria tres colunas, sendo a primeira com 1fr (uma fracao do todo) e os demais ocupando a metade do primeiro */
    grid-auto-rows: 15rem;   /* define a altura das linhas */
    gap: 0.5rem;

  & img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Preenche 100% do espaço disponível*/
  }

  & .destaque{
    grid-row: span 2; /* a primeira foto ocupa duas linhas e deixa com aquele efeitinho LINDO*/
    border-radius: 0.8rem 0 0 0.8rem; 
  }
}
  & h3{
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    margin: 1.5rem 0 0 23rem;
}

  & h2{
    color: rgb(59, 59, 59);
    font-size: 1.2rem;
    font-weight: 100;
    display: flex;
    margin: -0.2rem 0 1rem 23rem;
    }

  & .pref-hospedes{
    margin-left: 23rem;
    border: 1px solid --cor-borda-ul;
    border-radius: 0.8rem;
  
  & .pref-hospedes:hover{
    cursor: pointer;
  }

}
}

.container{
  display: flex;

  & .preco-diaria{
    text-decoration: underline;
    border-radius: 0.1rem;
    font-weight: bolder;
    margin: -3rem 10rem 30rem 13.5rem;
    /* box-shadow: inset 0 0 10px -4px rgba(0, 0, 0, 0.325); */
    justify-content: center;
    position: absolute;
    width: 20rem;
    height: 10rem;
  }

  & .aside-container{
    display: flex;
    flex-direction: column;
  }

  & button{
    margin-left: 14rem;
    margin-top: -0.1rem;
    background-color: rgb(255, 255, 255);
    border: 0.5px solid rgba(0, 0, 0, 0.214);
    border-radius: 0.2rem;
    color: black;
    width: 100%;

  }

  .preco-diaria { font-weight: 700; text-decoration: none; }
  .preco-diaria .valor { text-decoration: underline; } /* sublinhado*/
  .preco-diaria .palavra-sem-efeito { font-weight: 400; margin-left: 0.5rem;}  /* sem negrito e jogando um margin pra simular um espaço*/
}

.detalhes{
  display: flex;
  flex-direction: column;
  align-items: center;

  & p{
  margin: 1rem 0 5rem -3rem;
  font-family: Cabin;
  font-size: larger;
  max-width: 70rem;
}

  & .avaliacoes{
  margin: 5rem -10rem;
  width: 70rem;
  }

  & .divisor{
  border: 1px solid rgba(0, 0, 0, 0.066);
  width: 100%;
  height: 1px;
  background: #e5e5e5;
  margin: 2rem 23rem;
}

}













