@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

:root{
    --cor-fundo: white;
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

*{
    font-family: Cabin;
}

header{
    padding: 2rem;
  & .nav-bar{ 
    display:flex; justify-content:space-around;   
    
    & .logo{           
      height: 40px; width: auto;
    }

    & ul{
        margin-top: -0.5rem;
        padding: 1rem;
        border: 1px solid rgb(148, 148, 148);
        border-radius: 5rem;
        gap: 5rem;
        display: flex;
    
    & li{
        margin-top: -1rem;
        list-style: none;
        font-size: 1.1rem;
    }    

    & li:not(:last-of-type)::after{
        content: "|";
        color:rgb(148, 148, 148);
        font-size: 2rem;
        margin-left: 2rem;
    }

    & .li-especial{
        margin-top: -0.1px;
        color: rgb(168, 168, 168);
    }
    
    & .lupa{
        border-radius: 3rem;
        margin-top: -0.5rem;
        width: 2.5rem;
        height: auto;
    }

    }
    & .espaco{
        margin-top: 0.6rem;
        font-size: 1.1rem;
    }
  }
}

